body {
    font-family: 'Poppins', sans-serif;
    background: url(img/a.png) no-repeat center center/cover;
    position: relative;
    color: #ffffff !important;

}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /* oscurece un poco */
    z-index: -1;
}

h1, p, a, span{
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
    color: #ffffff !important;
}

.cartas h5, .texto_cartas{
    color:black !important;
}